Mobilerush/Service References/HTTPService/Index.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MSISDN_HEADER">
        <s:complexType />
      </s:element>
      <s:element name="MSISDN_HEADERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN_HEADERResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MSISDN_HEADERSoapIn">
    <wsdl:part name="parameters" element="tns:MSISDN_HEADER" />
  </wsdl:message>
  <wsdl:message name="MSISDN_HEADERSoapOut">
    <wsdl:part name="parameters" element="tns:MSISDN_HEADERResponse" />
  </wsdl:message>
  <wsdl:portType name="HeaderIndexSoap">
    <wsdl:operation name="MSISDN_HEADER">
      <wsdl:input message="tns:MSISDN_HEADERSoapIn" />
      <wsdl:output message="tns:MSISDN_HEADERSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HeaderIndexSoap" type="tns:HeaderIndexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MSISDN_HEADER">
      <soap:operation soapAction="http://tempuri.org/MSISDN_HEADER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HeaderIndexSoap12" type="tns:HeaderIndexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MSISDN_HEADER">
      <soap12:operation soapAction="http://tempuri.org/MSISDN_HEADER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HeaderIndex">
    <wsdl:port name="HeaderIndexSoap" binding="tns:HeaderIndexSoap">
      <soap:address location="http://www.mobilerush.com.ng/Common/Index.asmx" />
    </wsdl:port>
    <wsdl:port name="HeaderIndexSoap12" binding="tns:HeaderIndexSoap12">
      <soap12:address location="http://www.mobilerush.com.ng/Common/Index.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>